<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Webpage</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <section>
    <div class="header">
        <div class="row1">
            <ul>
                <li><i class="fa-solid fa-mobile-screen"></i></li>
                <li><i class="fa-brands fa-facebook-f"></i></li>
                <li><i class="fa-brands fa-twitter"></i></li>
            </ul>
        </div>
        <div class="row2">
            <img src="static/images/websitelogo1.png" alt="logo">
        </div>
        <div class="row3">
            <ul>
                <li><button class="signin">Sign In</button></li>
                <li><button class="newsletter">Newsletter</button></li>
                <li><button class="sub">
                    <a href="#">Subscribe</a></button>
                </li>
                <li><i class="fa-solid fa-magnifying-glass"></i></li>
            </ul>
        </div>
    </div>


    <div class="attributes">
        <nav class="navig">
            <i class="fa-solid fa-bars"></i>
            <ul class="main-nav">
                <li><a href="#">HOME</a></li>
                <li><a href="#">CHINA</a></li>
                <li><a href="#">SOURCE</a></li>
                <li><a href="#">OPINION</a></li>
                <li><a href="#">HU SAYS</a></li>
                <li><a href="#">IN-DEPTH</a></li>
                <li><a href="#">WORLD</a></li>
                <li><a href="#">LIFE</a></li>
                <li><a href="#">SPORT</a></li>
                <li><a href="#">VIDEO</a></li>
                <li><a href="#">PHOTO</a></li>
                <li><a href="#">INFOGRAPHIC</a></li>
                <li><a href="#">CARTOON</a></li>
            </ul>
        </nav>
    </div>
    </section>
    <section>
        <div class="mainsection1">
            <div class="section1col1">
                <div class="col1block1">
                        <p class="headline">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati numquam consequatur laborum, similique.</p>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati numquam consequatur laborum, similique.</p>
                </div>
                <div class="col1block2">
                    <img class="news1" src="static/images/newsimage1.jpeg" alt="newsimage">
                    <p class="headline">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, aut nisi quae, recusandae expedita velit soluta saepe ad.</p>
                </div>
            </div>
            <div class="section1col2">
                <div class="col2block1">
                    <img class="news2" src="static/images/newsimage2.jpeg" alt="newsimage">
                    <p class="headline">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, aut nisi quae, recusandae expedita velit soluta saepe ad.</p>
                </div>
                <div class="col2block2">
                    <ul>
                        <li class="item1">
                            <p class="headline">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At harum vero ratione quod rerum itaque ullam quisquam, exercit ationem...</p>
                        </li>
                        <li>
                            <img class="news3" src="static/images/newsimage3.jpeg" alt="newsimage">
                        </li>
                    </ul>
                </div>
            </div>
            <div class="section1col3">
                <div class="col3block1">
                    <img src="static/images/newsimage4.png" alt="newsimage">
                </div>
                <div class="col3block2">
                    <p class="blocktitle">OP-ED</p>
                    <ul class="items">
                        <li>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam distinctio in, explicabo quos beatae ipsum.</p>
                        </li>
                        <li>
                            <img class="news5" src="static/images/newsimage5.jpeg" alt="newsimage">
                        </li>
                    </ul>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui aperiam, cum veniam tempora sequi temporibus, quisquam eveniet repudiandae eius inventore...</p>
                </div>
                <div class="col3block3">
                    <p class="title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <p>Global Times</p>
                </div>
                <div class="col3block4">
                    <p class="title1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, iure.</p>
                    <p>Global Times</p>
                </div>
                <div class="col3block5">
                    <img src="static/images/newsimage6.jpg" alt="newsimage">
                </div>
            </div>
        </div>
        <div class="linedivider">
        </div>
        <div class="commonpicture">
            <img src="static/images/commonpicture.jpg" alt="commonpicture">
        </div>
        <div class="linedivider">
        </div>
    </section>
    <!-----------------main-section2--------------------->
    <section>
        <div class="mainsection2">
            <!--column1-->
            <div class="section2col1">
                <div class="container">
                <div class="abc">
                    <div class="subsection1">
                        <div class="object1">
                            <p class="title">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero dolorum fugit, iste quis quisquam facilis praesentium commodi itaque eum.</p>
                        </div>
                        <div class="linedivider"></div>
                        <div class="object2">
                            <p class="title">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum eos nesciunt tempore ipsa saepe.</p>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus praesentium dicta maxime, excepturi eveniet expedita aspernatur.</p>
                        </div>
                    </div>
                    <div class="subsection2">
                        <img src="static/images/newsimage7.jpeg" alt="newsimage">
                        <p class="title">Lorem ipsum dolor, sit amet consectetur adipisicing elit corporis.</p>
                    </div>
                </div>
                <div class="linedivider"></div>

                <div class="_2col1section2">
                <div class="abc">
                    <div class="subsection2">
                        <img src="static/images/newsimage8.jpeg" alt="newsimage">
                        <p class="title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi deserunt fugit dolor dolores, doloremque.</p>
                    </div>
                    <div class="subsection1">
                        <div class="object1">
                            <p class="title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat consectetur quia fugiat unde a.</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, praesentium harum. Ipsum, eos veniam quisquam repudiandae ea dignissimos dicta.</p>
                        </div>
                        <div class="linedivider"></div>
                        <div class="object2">
                            <p class="title">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                            <ul>
                                <li>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et numquam doloribus reiciendis saepe inventore voluptates fuga distinctio,</p>
                                </li>
                                <li>
                                    <img src="static/images/newsimage9.jpeg" alt="newsimage">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
                <div class="linedivider"></div>
                <div class="vsection">
                    <p class="visualnewstitle">VISUAL NEWS</p>
                    <div class="container1">
                    <div class="visualnews">
                        <img src="static/images/visualnews.jpeg" alt="newsimage">
                        <p class="title">sports hegemony Lorem ipsum dolor </p>
                        <p class="caption">CARTOOON</p>
                    </div>
                    <div class="visualnews">
                        <img src="static/images/visualnews.jpeg" alt="newsimage">
                        <p class="title">Lorem ipsum dolor sit, amet consectetur.</p>
                        <p class="caption">INFOGRAPHIC</p>
                    </div>
                    <div class="visualnews">
                        <img src="static/images/visualnews.jpeg" alt="newsimage">
                        <p class="title">Lorem ipsum dolor sit amet consectetur elit.</p>
                        <p class="caption">INFOGRAPHIC</p>
                    </div>
                </div>
                </div>
        </div>
        </div>
        <!--column2-->
        <div class="section2col2">
            <div class="container">
            <div class="subsection1">
                <p class="title">HU SAYS</p>
                <video width="370" height="222" controls> <source src="static/images/video.mp4" alt="newsimage"></video>
                <p class="title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad saepe unde, qui.</p>
            </div>
            <div class="linedivider"></div>
            <div class="subsection2">
                <p class="title">MOST VIEWED</p>
                <ul>
                    <li>
                        <i class="num">1</i>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </li>
                    <li>
                        <i class="num">2</i>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </li>
                    <li>
                        <i class="num">3</i>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </li>
                    <li>
                        <i class="num">4</i>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </li>
                    <li>
                        <i class="num">5</i>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </li>
                </ul>
            </div>
            <div class="linedivider"></div>
            <div class="subsection3">
                <ul>
                    <li class="videoimg">
                        <img src="static/images/newsimage10.png" alt="newsimage">
                    </li>
                    <li>
                        <p class="title">Lorem ipsum dolor sit</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint vitae</p>
                    </li>
                </ul>
            </div>
            <div class="linedivider"></div>
            <div class="subsection4">
                <img src="static/images/newsimage11.jpg" alt="newsimage">
            </div>
        </div>
    </div>
    </div>
    <div class="linedivider"></div>
    <div class="commonpicture">
        <img src="static/images/commonpicture.jpg" alt="commonpicture">
    </div>
    <div class="linedivider"></div>
    </section>
<!-----------section3---------------->
    <section>
        <div class="area">
            <p class="title">CHINA</p>
            <div class="commonsection">
            <div class="bigsection">
                <img src="static/images/newsimage12.jpeg" alt="newsimage">
                <p class="title">Snapshot of China Coast Guard's work and life on patrol in waters off Huangyan Island</p>
                <p>In August, the Wanshan vessel of China Coast Guard (CCG) successfully completed its patrol mission at China's Huangyan Dao (also known as Huangyan Island) and returned to Guangzhou, South China's Guangdong Province. Despite facing the harsh conditions of the South China Sea, including high temperatures, humidity, and salinity, ...</p>
            </div>
            <div class="classdivider"></div>
            <div class="slides">
                <div class="block">
                    <img src="static/images/newsimage13.jpeg" alt="newsimage">
                    <p class="title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor fugit</p>
                </div>
                <div class="linedivider"></div>
                <div class="block">
                    <img src="static/images/newsimage13.jpeg" alt="newsimage">
                    <p class="title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor fugit</p>
                </div>
            </div>
            <div class="classdivider"></div>
            <div class="headlines">
                <div class="singleheadline">
                    <p class="title">Thermal imaging technology on drone used to locate man with Alzheimer's disease</p>
                    <p>As China pursues its independent and peaceful diplomacy to boost regional cooperation and stability in the Asia-Pacific, some US media stuck in the Cold War mentality accused China of attempting ...</p>
                </div>
                <div class="linedivider"></div>
                <div class="singleheadline">
                    <p class="title">Thermal imaging technology on drone used to locate man with Alzheimer's disease</p>
                    <p>As China pursues its independent and peaceful diplomacy to boost regional cooperation and stability in the Asia-Pacific, some US media stuck in the Cold War mentality accused China of attempting ...</p>
                </div>
                <div class="linedivider"></div>
                <div class="singleheadline">
                    <p class="title">Thermal imaging technology on drone used to locate man with Alzheimer's disease</p>
                    <p>As China pursues its independent and peaceful diplomacy to boost regional cooperation and stability in the Asia-Pacific, some US media stuck in the Cold War mentality accused China of attempting ...</p>
                </div>
            </div>
        </div>
        </div>
        <div class="linedivider"></div>
        <div class="area">
            <p class="title">SOURCE</p>
            <div class="commonsection">
                <div class="slides">
                <div class="block">
                    <img src="static/images/newsimage13.jpeg" alt="newsimage">
                    <p class="title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor fugit</p>
                </div>
                <div class="linedivider"></div>
                <div class="block">
                    <img src="static/images/newsimage13.jpeg" alt="newsimage">
                    <p class="title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor fugit</p>
                </div>
            </div>
            <div class="classdivider"></div>
                <div class="bigsection">
                <img src="static/images/newsimage12.jpeg" alt="newsimage">
                <p class="title">Snapshot of China Coast Guard's work and life on patrol in waters off Huangyan Island</p>
                <p>In August, the Wanshan vessel of China Coast Guard (CCG) successfully completed its patrol mission at China's Huangyan Dao (also known as Huangyan Island) and returned to Guangzhou, South China's Guangdong Province. Despite facing the harsh conditions of the South China Sea, including high temperatures, humidity, and salinity, ...</p>
            </div>
            <div class="classdivider"></div>
            <div class="headlines">
                <div class="singleheadline">
                    <p class="title">Thermal imaging technology on drone used to locate man with Alzheimer's disease</p>
                    <p>As China pursues its independent and peaceful diplomacy to boost regional cooperation and stability in the Asia-Pacific, some US media stuck in the Cold War mentality accused China of attempting ...</p>
                </div>
                <div class="linedivider"></div>
                <div class="singleheadline">
                    <p class="title">Thermal imaging technology on drone used to locate man with Alzheimer's disease</p>
                    <p>As China pursues its independent and peaceful diplomacy to boost regional cooperation and stability in the Asia-Pacific, some US media stuck in the Cold War mentality accused China of attempting ...</p>
                </div>
                <div  class="linedivider"></div>
                <div class="singleheadline">
                    <p class="title">Thermal imaging technology on drone used to locate man with Alzheimer's disease</p>
                    <p>As China pursues its independent and peaceful diplomacy to boost regional cooperation and stability in the Asia-Pacific, some US media stuck in the Cold War mentality accused China of attempting ...</p>
                </div>
            </div>
            </div>
        </div>
         <div class="linedivider"></div>
        <div class="area">
            <p class="title">LIFE</p>
            <div class="commonsection">
                <div class="headlines">
                <div class="singleheadline">
                    <p class="title">Thermal imaging technology on drone used to locate man with Alzheimer's disease</p>
                    <p>As China pursues its independent and peaceful diplomacy to boost regional cooperation and stability in the Asia-Pacific, some US media stuck in the Cold War mentality accused China of attempting ...</p>
                </div>
                <div class="linedivider"></div>
                <div class="singleheadline">
                    <p class="title">Thermal imaging technology on drone used to locate man with Alzheimer's disease</p>
                    <p>As China pursues its independent and peaceful diplomacy to boost regional cooperation and stability in the Asia-Pacific, some US media stuck in the Cold War mentality accused China of attempting ...</p>
                </div>
                <div class="linedivider"></div>
                <div class="singleheadline">
                    <p class="title">Thermal imaging technology on drone used to locate man with Alzheimer's disease</p>
                    <p>As China pursues its independent and peaceful diplomacy to boost regional cooperation and stability in the Asia-Pacific, some US media stuck in the Cold War mentality accused China of attempting ...</p>
                </div>
            </div>
            <div class="classdivider"></div>
            <div class="bigsection">
                <img src="static/images/newsimage12.jpeg" alt="newsimage">
                <p class="title">Snapshot of China Coast Guard's work and life on patrol in waters off Huangyan Island</p>
                <p>In August, the Wanshan vessel of China Coast Guard (CCG) successfully completed its patrol mission at China's Huangyan Dao (also known as Huangyan Island) and returned to Guangzhou, South China's Guangdong Province. Despite facing the harsh conditions of the South China Sea, including high temperatures, humidity, and salinity, ...</p>
            </div>
            <div class="classdivider"></div>
                <div class="slides">
                <div class="block">
                    <img src="static/images/newsimage13.jpeg" alt="newsimage">
                    <p class="title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor fugit</p>
                </div>
                <div class="linedivider"></div>
                <div class="block">
                    <img src="static/images/newsimage13.jpeg" alt="newsimage">
                    <p class="title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor fugit</p>
                </div>
            </div>
            </div>
        </div>
        <div class="linedivider"></div>
    </section>
    <section>
    <div class="footer">
        <div class="footercontainer">
        <div class="footernav">
            <div class="column">
                <div class="columnname">
                    <p class="title">CHINA</p>
                </div>
                <div class="columncontent">
                    <ul>
                        <li><p>Politics</p></li>
                        <li><p>Society</p></li>
                        <li><p>Diplomacy</p></li>
                        <li><p>Military</p></li>
                        <li><p>Science</p></li>
                        <li><p>Odd</p></li>
                        <li><p>China Graphic</p></li>
                        
                    </ul>
                </div>
            </div>
            <div class="column">
                <div class="columnname">
                    <p class="title">SOURCE</p>
                </div>
                <div class="columncontent">
                    <ul>
                        <li><p>GT Voice</p></li>
                        <li><p>Insight</p></li>
                        <li><p>Economy</p></li>
                        <li><p>Comments</p></li>
                        <li><p>Company</p></li>
                        <li><p>B&R Initiative</p></li>
                        <li><p>Biz Graphic</p></li>
                    </ul>
                </div>
            </div>
            <div class="column">
                <div class="columnname">
                    <p class="title">OPINION</p>
                </div>
                <div class="columncontent">
                    <ul>
                        <li><p>Editorial</p></li>
                        <li><p>Observer</p></li>
                        <li><p>Global Minds</p></li>
                        <li><p>Asian Review</p></li>
                        <li><p>Top Talk</p></li>
                        <li><p> Viewport</p></li>
                        <li><p>Columnists</p></li>
                        <li><p>Cartoon</p></li>
                    </ul>
                </div>
            </div>
            <div class="column">
                <div class="columnname">
                    <p class="title">LIFE</p>
                </div>
                <div class="columncontent">
                    <ul>
                        <li><p>Cultural Influence</p></li>
                        <li><p>Atitudes</p></li>
                        <li><p>Culture</p></li>
                        <li><p>Entertainment</p></li>
                        <li><p>Travel</p></li>
                    </ul>
                </div>
            </div>
            <div class="column">
                <div class="columnname">
                    <p class="title">VISUAL NEWS</p>
                </div>
                <div class="columncontent">
                    <ul>
                        <li><p>HU SAYS</p></li>
                        <li><p>Video</p></li>
                        <li><p>Graphics</p></li>
                        <li><p>Gallery</p></li>
                        <li><p>Specials</p></li>
                    </ul>
                </div>
            </div>
            <div class="column">
                <div class="columnname">
                    <p class="title">MISCELLANEOUS</p>
                </div>
                <div class="columncontent">
                    <ul>
                        <li><p>In-Depth</p></li>
                        <li><p>World</p></li>
                        <li><p>Sport</p></li>
                    </ul>
                </div>
            </div>
            <div class="classdivider"></div>
            <div class="column">
                <div class="columnname">
                    <p class="title">LINKS</p>
                </div>
                <div class="columncontent">
                    <ul>
                        <li><p>People's Daily</p></li>
                        <li><p>People's Daily APP</p></li>
                        <li><p>Qiusho Journal</p></li>
                        <li><p>Dairy</p></li>
                        <li><p>Ecns.cn</p></li>
                        <li><p>Taiwan.cn</p></li>
                        <li><p>Eastday</p></li>
                        <li><p>China Insight</p></li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="footershare">
            <img src="websitelogo.jpg" alt="logo">
            <p>Newsletter</p>
            <i class="fa-mobile-screen"></i>
            <i class="fa-facebook-f"></i>
            <i class="fa-twitter"></i>
        </div>
        <div class="footerinfo">
            <ul>
                <li><a href="#">About Us</a>
                    ::after 
                </li>
                <li><a href="#">Carrers</a>
                ::after</li>
                <li><a href="#">Contact Us</a> 
                ::after</li>
                <li><a href="#">Advertisement</a>
                ::after</li>
                <li><a href="#">Terms of Services</a> 
                ::after</li>
            </ul>
            <div class="copyright">
                <p>Copyright 2023 all rights belongs to Globaltimes.cn</p>
            </div>
            <div class="copyright">
                <p>Copyright 2023 all rights belongs to Globatimes.cn</p>
            </div>

        </div>
        </div>
    </div>
    </section>
</body>
</html>